<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    
    


    <!------ Include the above in your HEAD tag ---------->

</head>
<div class="container">
    <button [routerLink]="['get-employee-details']">Create<i class="fa fa-plus"></i></button><br><br>
    <table border="1px" class="table">
        <tr class="container">
            <th>Full Name</th>
            <th>Email</th>
            <th>Mobile</th>
            <th>City</th>
            <th>Department</th>
            <th>Operations</th>
            
        </tr>
        <tr *ngFor='let profile of profiles' class="container">
            <td>{{profile.name}}</td>
            <td>{{profile.email}}</td>
            <td>{{profile.mobile}}</td>
            <td>{{profile.city}}</td>
            <td>{{profile.Department}}</td>
            <td> <button type="button" class="btn">Edit <i class="fa fa-edit"></i></button><button [routerLink]="['/delete-employee',profile.id]" click = "delete-employee()">Delete<i class='fa fa-trash'></i></button> </td>
            <td></td>
            <!-- <td><a [routerLink]="['/delete-book',book.id]" class="btn btn-info btn-lg"><span class="glyphicon glyphicon-remove">Remove</span></a></td>
         <td><a [routerLink]="['/get-book',book.id]" class="btn btn-info btn-lg"><span class="glyphicon glyphicon-pencil">Edit</span></a></td> -->
        </tr>
    </table>
</div>
